/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&display=swap');

*
{
    padding: 0px;
    margin: 0px;

    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body
{
    background-color: rgb(12, 12, 12);
    text-align: center;
    overflow-x: hidden;
}

@keyframes landingPage 
{
    from 
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    to 
    {
        opacity: 1;
        transform: translateX(0);
    }
}

h1
{
    animation: landingPage 800ms;
    color: white;
    text-align: center;
    margin-top: 300px;
    font-size: 55px;
    font-weight: 900;
}

h2
{
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.nav-bar
{
    background-color: rgba(12, 12, 12, 0.9);
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav-bar a
{
    float: right;
    color:white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;    
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 25px;
    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-bar a:hover
{
    color: #3c8cfd;
    transform: translateY(3px);
    text-shadow: 0 0 30px #0c71fd;
    transition: 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logo-item img
{
    width: 40px;
}

.logo-item a:hover
{
    opacity: 0.5;
    transition: 200ms;
}

.logo-item a
{
    text-decoration: none;
    font-size: large;    
    color: rgb(255, 255, 255);
    float: left;
    margin-left: 25px;
    font-weight: 700;
    transition: 150ms;
}

section
{
    min-height: 100vh;
}

.subscribe-button
{
    display: flex;
    width: 100%;
}

.button {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: rgb(236, 1, 1);
    border-radius: 10px;
    padding: 15px 30px;
    margin: auto 0 auto auto;
    align-self: right;
    border: solid rgb(236, 1, 1);
    transition: 300ms;
    display: block;
}

.button:hover {
    background-color: rgb(236, 1, 1);
    color: rgb(30, 30, 30);
    box-shadow: 0 0 50px rgba(212, 0, 0, 0.76);
    transition: 300ms;
}

.scroll-arrow
{
    margin-top: 200px;
    height: 30px;
    transition: 150ms;
}

.scroll-arrow:hover
{
    opacity: 0.5;
    transition: 200ms;
}

hr
{
    height: 6px;
    width: 50px;
    background-color: #0c71fd;
    border: none;
    margin: 30px auto;
}

.youtube-stats-container
{
    width: 50%;
    height: 200px;
    margin: 70px auto auto auto;
    display: flex;
}

@keyframes live-animation
{
    0%   { opacity:1; }
    50%  { opacity:0.2; }
    100% { opacity:1; }
}

#youtube-stats h2
{
    padding-top: 150px;
    font-size: 40px;

    animation: live-animation 1500ms cubic-bezier(0.485, 0.535, 0.15, 0.86) infinite;
}

.youtube-profilepic
{
    display: block;
    margin: auto 22px auto 0;
    width: 70px;
    height: 70px;
}

.youtube-stats-channelname
{
    display: block;
    height: min-content;
    margin: auto 0px;
}

.youtube-stats-channelname p
{
    text-align: left;
    display: block;
    opacity: 0.5;
}

.youtube-stats-channelname a
{
    text-align: left;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.account-info-item
{
    margin: auto;
    font-size: 20px;
    width: 50%;
    height: 40px;
}

.account-info-item p
{
    float: left;
}

#total-views
{
    opacity: 0.7;
    font-size: 20px;
    float: right;
}

#total-videos
{
    opacity: 0.7;
    font-size: 20px;
    float: right;
}

.subgoal-container
{
    width: 50%;
    margin: auto;
}

.youtube-milestones h3
{
    margin-top: 50px;
    color: white;
    font-size: 30px;
}

#subgoal
{
    margin-top: 40px;
    color: white;
    background-color: rgb(236, 1, 1);
}

.subgoal-container p
{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
}

#subgoal-min
{
    float: left;
}

#subgoal-max
{
    float:right;
}

#about h2
{
    padding-top: 150px;
    font-size: 40px;
}

.skills-wrapper
{
    display: block;
    width: 70%;
    margin: auto;
    color: white;
}

#about p
{
    text-align: left;
    font-size: 20px;
    display: block;
    margin-top: 30px;
}

.progress-bar-bg div
{
    height: 30px;
    text-align: right;
    line-height: 30px;
    padding-right: 10px;
    text-shadow: 0 0 5px black;
} 

.progress-bar-bg
{
    height: 30px;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

.cpp
{
    width: 80%;
    background-color: #0c71fd;
}

.csharp
{
    width: 85%;
    background-color: #aa43b9;
}

.glsl
{
    width: 25%;
    background-color: #d8903e;
}

.html
{
    width: 75%;
    background-color: #df2a2a;
}

.css
{
    width: 65%;
    background-color: #cf2379;
}

.unity
{
    width: 98%;
    background-color: #23cf40;
}

.ue4
{
    width: 75%;
    background-color: #4823cf;
}

footer
{
    background-color: rgb(12, 12, 12);
    display: block;
    margin-top: 100px;
    padding-top: 70px;
    width: 100vw;
}

.footer-inner
{
    display: flex;
    justify-content: space-around;
}

.social-list
{
    text-align: left;
    margin-left: 40px;
}

.social-list a
{
    text-decoration: none;
}

.social-list a img
{
    margin-right: 8px;
    opacity: 0.5;
}

.social-list a:focus
{
    outline: none;
}

.social-list a img:hover
{
    opacity: 1;
    transition: 200ms;
}

.youtube-img
{
    width: 42px;
}

.twitter-img
{
    width: 30px;
}

.instagram-img
{
    width: 29px;
}

.github-img
{
    width: 30px;
}

footer p
{
    text-align: left;
    opacity: 0.8;
    font-size: 18px;
    margin-left: 41px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-connect
{
    width: 300px;
}

.footer-about
{
    width: 300px;
}

.footer-about a
{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    display: block;
    font-weight: normal;
}

.footer-about a:hover
{
    opacity: 1;
    transition: 200ms;
}

.footer-legal
{
    margin-top: 90px;
    display: block;
    margin-bottom: 50px;
}

.footer-legal a
{
    text-decoration: none;
    color: white;
    opacity: 0.3;
    margin-left: 5px;
    margin-right: 5px;
}

.footer-legal a:hover
{
    opacity: 0.6;
    transition: 200ms;
}

.footer-legal p
{
    text-align: center;
    margin: auto;
    opacity: 0.3;
    font-size: 16px;
    font-weight: lighter;
}

p
{
    color: white;
}